
 body,h1,h2,h3,h4,h5,h6,p{
     font-family:Rubik ,sans-serif; /*font family*/
 }
 .card-style1{
     border: none; /*card style*/
 }
 
 .navimg img{
width:270px;
height: auto; /*navbar image sizing*/
 }

 .nav-items ul li a{
     color: rgb(0, 0, 0);
     font-weight: 900;
 }
 button{
     margin-left: 60px;
 }
 button h5{
font-size: 18px;   /*button style*/
color: white;
 }

 .banner-img img{  /*banner img size*/
width: 80%;
height:auto;
 }
 .banner-text h1{      /*banner text style satrt*/
     font-weight: 800;
     color: rgba(255, 145, 0, 0.794);
     font-size: 55px;
 }
 .banner-text span h1{
    font-weight: 900;
    color: rgba(40, 33, 131, 0.726);
    font-size: 55px;           /*banner text style end*/
}
.shoes-section h1{
    color: rgba(40, 33, 131, 0.726);/*shoes section style*/
}
.shoes-section h3{
color: rgba(255, 145, 0, 0.794); ;
}
h5{
    color: rgba(40, 33, 131, 0.726);
}
 .service-img img{
    width: 100%;
    height: auto;
     }             /*service section style*/
     
     .service-card img{
         width: 55%;
     }
     /*footer section start*/
     .footer i{
         font-size: 30px;
     }
     .team-social ul i{
         font-size: 25px;
         color: white;
         margin-top: 10px;
     }
     .footer{
         height: 100px;
         color: white;
     }
/*footer section end*/

     /*responsibe css start*/
     
 @media (max-width:750px){
        .banner-text h1{
            font-weight: 700;
            color: rgba(255, 145, 0, 0.794);
            font-size: 27px;
        }

     }

     @media (max-width:750px){
        .banner-text span h1{
            font-weight: 700;
            color: rgba(40, 33, 131, 0.726);
            font-size: 27px;
        }

     }
     @media (max-width:750px){
        .service-card img{
            width: 35%;
            margin-left: 130px;
        }
     }

     @media (max-width:750px){
        .service{
            display: flex;
            flex-direction: column-reverse;
        justify-content: center;
           
        }
     }

     /* responsive style end */
     