.product1{
    max-height:100px; 
 }
 .product1 img{
     width: 25%;
 }
 .cstyle{
     border: none;
 }
 .navimg img{
width: 300px;
height: auto;
 }
 .banner-img img{
max-width: 80%;
height: auto;
 }
 .service-img img{
    max-width: 100%;
    height: auto;
     }
     .icon1 .img img{
         width: 50px;
     }