
 
 .card-style1{
     border: none;
 }
 
 
 .navimg img{
width: 300px;
height: auto;
 }
 button h5{
font-size: 18px;
color: white;
 }

 .banner-img img{
width: 80%;
height: auto;
 }
 .service-img img{
    width: 100%;
    height: auto;
     }
     
     .service-card img{
         width: 55%;
     }
     .footer i{
         font-size: 30px;
     }
     .team-social ul i{
         font-size: 25px;
         color: white;
         margin-top: 10px;
     }
     .footer{
         height: 100px;
         color: white;
     }